/*Background*/

.fixed-bg {
    background-image: url("../images/pacbg.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}

/*Background*/

.navbar-inverse {
	background-color: black;
	border-bottom: solid #F3EB24 3px;
}

/*Footer*/

h1 {
	position: fixed;
	top: 300px;
	left: 45%;
	color: white;
}

.z0 {
	position: fixed;
	z-index: 0;
}

.z1 {
	position: relative;
	z-index: 1;
}

.yellowbg {
	background-color: #F3EB24;
	padding: 20px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  background-color: #04080B;
/*  background-image: url("../images/pacbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}

.footer {

  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #101010;
  float: left;
}

.copyright {
	margin: 15px 0px 0px 0px;
	width: 100%;
	text-align: center;
}

.marginbottom {
	margin-bottom: 20px;
}

/*End Footer*/

nav {
	font-family: 'Press Start 2P', cursive;
}

body {
	padding-top: 50px;
	font-family: 'Roboto', sans-serif;
}

.jumbotron {
	padding: 20px 0px;
	border: solid #4056A2 10px;
	background-color: #04080B;
	color: #F3EB24;
	margin: 0px;
}

h2 {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: solid #4056A2 5px;
	color: #F3EB24;
	font-family: 'Press Start 2P', cursive;
}

h3 {
	font-family: 'Press Start 2P', cursive;
}

.profilepic {
	float: left;
	margin-right: 30px;
	margin-bottom: 0px;
	height: 250px;
	width: 250px;
}

.anchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}

.portfoliobox {
	border: solid #4056A2 5px;
	background-color: #04080B;
}

.portfoliopic {
	height: 200px;
	width: 250px;
}

.yellow {
	color: #F3EB24;
}

.socialmediaicons {
	margin-top: -10px;
}

.socialmediaiconsL {
	margin: 0px 10px 0px 0px;
}

.socialmediaiconsM {
	margin: 0px 0px 0px 0px;
}

.socialmediaiconsR {
	margin: 0px 0px 0px 10px;
}

.formspace {
	margin-top: 20px;
}

.messagespace {
	height: 200px;
}